nav > .container,
.content-container {
	max-width: 900px !important;
}
.list-item-view-wrapper {
	margin-bottom: 10px;
	background-color: #ededed;
	border-radius: 6px;
}
.img-rounded-entity {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	max-width: 100% !important;
}
@media (max-width: 767px) {
	.img-rounded-entity {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-left-radius: 0;
	}
}